### Data analysis of SuperStore sales data

In this notebook, we try analyse, explore and understand the dataset provided. It is the sales data of a store. We look for missing values, need to add any columns/ drop unneccesary columns to gain insights to create a dashboard.

In [2]:
import pandas as pd
import numpy as np

In [6]:
df=pd.read_excel("C:\\Users\\Shreya Reddy\\Downloads\\SalesInsights_PowerBI\\SuperStore Sales DataSet.xlsx")
df.head()

,Row ID+O6G3A1:R6,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Category,Sub-Category,Product Name,Sales,Quantity,Profit,Returns,Payment Mode,ind1,ind2
0,4918,CA-2019-160304,2019-01-01,2019-01-07,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,...,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",73.94,1,28.2668,NaN,Online,NaN,NaN
1,4919,CA-2019-160304,2019-01-02,2019-01-07,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,...,Furniture,Bookcases,"Bush Westfield Collection Bookcases, Medium Ch...",173.94,3,38.2668,NaN,Online,NaN,NaN
2,4920,CA-2019-160304,2019-01-02,2019-01-07,Standard Class,BM-11575,Brendan Murry,Corporate,United States,Gaithersburg,...,Technology,Phones,GE 30522EE2,231.98,2,67.2742,NaN,Cards,NaN,NaN
3,3074,CA-2019-125206,2019-01-03,2019-01-05,First Class,LR-16915,Lena Radford,Consumer,United States,Los Angeles,...,Office Supplies,Storage,Recycled Steel Personal File for Hanging File ...,114.46,2,28.6150,NaN,Online,NaN,NaN
4,8604,US-2019-116365,2019-01-03,2019-01-08,Standard Class,CA-12310,Christine Abelman,Corporate,United States,San Antonio,...,Technology,Accessories,Imation Clip USB flash drive - 8 GB,30.08,2,-5.2640,NaN,Online,NaN,NaN

In [7]:
df.columns

Index(['Row ID+O6G3A1:R6', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Region', 'Product ID', 'Category', 'Sub-Category', 'Product Name',
       'Sales', 'Quantity', 'Profit', 'Returns', 'Payment Mode', 'ind1',
       'ind2'],
      dtype='object')

In [8]:
df.shape

(5901, 23)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5901 entries, 0 to 5900
Data columns (total 23 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Row ID+O6G3A1:R6  5901 non-null   int64
 1   Order ID          5901 non-null   object
 2   Order Date        5901 non-null   datetime64[ns]
 3   Ship Date         5901 non-null   datetime64[ns]
 4   Ship Mode         5901 non-null   object
 5   Customer ID       5901 non-null   object
 6   Customer Name     5901 non-null   object
 7   Segment           5901 non-null   object
 8   Country           5901 non-null   object
 9   City              5901 non-null   object
 10  State             5901 non-null   object
 11  Region            5901 non-null   object
 12  Product ID        5901 non-null   object
 13  Category          5901 non-null   object
 14  Sub-Category      5901 non-null   object
 15  Product Name      5901 non-null   object
 16  Sales             5901 non-null   float64
 17  Quantity          5901 non-null   int64
 18  Profit            5901 non-null   float64
 19  Returns           287 non-null    float64
 20  Payment Mode      5901 non-null   object
 21  ind1              0 non-null      float64
 22  ind2              0 non-null      float64
dtypes: datetime64[ns](2), float64(5), int64(2), object(14)
memory usage: 1.0+ MB

In [10]:
df.isna().sum()

Row ID+O6G3A1:R6       0
Order ID               0
Order Date             0
Ship Date              0
Ship Mode              0
Customer ID            0
Customer Name          0
Segment                0
Country                0
City                   0
State                  0
Region                 0
Product ID             0
Category               0
Sub-Category           0
Product Name           0
Sales                  0
Quantity               0
Profit                 0
Returns             5614
Payment Mode           0
ind1                5901
ind2                5901
dtype: int64

We observe that the columns: Returns, ind1, ind2 have null values. ind1,ind2 are completely empty so we can drop them. We will look into the 'Returns' columns for possibilities to minimise the null/missing values.

In [11]:
df['Returns'].value_counts()

Returns
1.0    287
Name: count, dtype: int64

We see that there is only one type of value in the 'Returns' column. '1', here, may mean that the product has been returned, so, we are assuming that a null value means the product hasn't been returned at all.

In [12]:
df['Ship Mode'].value_counts()

Ship Mode
Standard Class    3451
Second Class      1147
First Class        959
Same Day           344
Name: count, dtype: int64

In [13]:
df['Customer ID'].value_counts()

Customer ID
EP-13915    27
SV-20365    25
PP-18955    25
EH-13765    25
PK-19075    24
            ..
SS-20515     1
JR-15700     1
JR-15670     1
RK-19300     1
ME-18010     1
Name: count, Length: 773, dtype: int64

In [14]:
df['Customer Name'].value_counts()

Customer Name
Emily Phan          27
Seth Vernon         25
Paul Prost          25
Edward Hooks        25
Pete Kriz           24
                    ..
Shirley Schmidt      1
Jocasta Rupert       1
Jim Radford          1
Ralph Kennedy        1
Michelle Ellison     1
Name: count, Length: 773, dtype: int64

The number of unique customers, customer ID's are the same, i.e. there was no error made while storing information about any customer.

In [15]:
df['Segment'].value_counts()

Segment
Consumer       2997
Corporate      1774
Home Office    1130
Name: count, dtype: int64

In [16]:
df['Country'].value_counts()

Country
United States    5901
Name: count, dtype: int64

In [17]:
df['State'].value_counts()

State
California              1189
New York                 672
Texas                    565
Washington               337
Pennsylvania             335
Illinois                 293
Ohio                     293
Florida                  212
North Carolina           159
Michigan                 138
Tennessee                120
Georgia                  115
Colorado                 114
Arizona                  113
Virginia                 104
Indiana                   96
New Jersey                92
Wisconsin                 77
Kentucky                  73
Oregon                    65
Massachusetts             63
Maryland                  63
Connecticut               56
Oklahoma                  49
Minnesota                 46
Delaware                  43
Missouri                  40
Arkansas                  39
Mississippi               36
Rhode Island              36
Alabama                   35
New Mexico                26
Nebraska                  25
Iowa                      24
Utah                      23
Louisiana                 19
South Carolina            19
Nevada                    16
Kansas                    13
New Hampshire             13
Idaho                     12
Vermont                    9
South Dakota               8
District of Columbia       7
North Dakota               7
Montana                    5
West Virginia              4
Maine                      2
Wyoming                    1
Name: count, dtype: int64

In [18]:
df['City'].unique()

array(['Gaithersburg', 'Los Angeles', 'San Antonio', 'Broken Arrow',
       'Charlotte', 'Philadelphia', 'Jacksonville', 'Oakland', 'Amarillo',
       'Franklin', 'Raleigh', 'Fresno', 'Toledo', 'Seattle', 'Longview',
       'Springfield', 'Columbus', 'Concord', 'Westfield', 'Fairfield',
       'New York City', 'San Diego', 'Morristown', 'Fayetteville',
       'Cleveland', 'Burlington', 'Gulfport', 'Plainfield',
       'San Francisco', 'Chicago', 'Rockford', 'Dallas', 'Atlantic City',
       'Atlanta', 'Arlington', 'Houston', 'Richmond', 'Sierra Vista',
       'Rockville', 'Smyrna', 'Chattanooga', 'Lancaster', 'Tulsa',
       'Clinton', 'Jackson', 'Belleville', 'Henderson', 'Long Beach',
       'Nashville', 'Oceanside', 'Tampa', 'Milwaukee', 'Newark',
       'La Crosse', 'Yonkers', 'Denver', 'Odessa', 'Bloomington',
       'Round Rock', 'Miami', 'Mishawaka', 'Dover', 'Fort Worth',
       'Glendale', 'Milford', 'Andover', 'Eagan', 'Vineland', 'Monroe',
       'Scottsdale', 'Waynesboro', 'Riverside', 'Harlingen',
       'Redwood City', 'Green Bay', 'Bryan', 'Malden', 'Columbia',
       'Memphis', 'Littleton', 'Salem', 'Evanston', 'Saint Peters',
       'North Las Vegas', 'Gresham', 'Norman', 'Pocatello', 'Norwich',
       'Auburn', 'Troy', 'Lakewood', 'Hot Springs', 'Detroit',
       'Bakersfield', 'Wilson', 'Alexandria', 'Baltimore', 'Gastonia',
       'Grapevine', 'Omaha', 'Elmhurst', 'Chesapeake', 'Phoenix',
       'Jefferson City', 'Aurora', 'Rome', 'Hesperia', 'San Clemente',
       'Colorado Springs', 'Saint Charles', 'Little Rock', 'Greensboro',
       'Irving', 'Louisville', 'Murfreesboro', 'Encinitas', 'Tallahassee',
       'Lorain', 'Austin', 'Virginia Beach', 'Mission Viejo',
       'Cincinnati', 'Yuma', 'Fort Lauderdale', 'Middletown', 'Apopka',
       'Waterbury', 'Lafayette', 'Vallejo', 'Asheville',
       'Port Saint Lucie', 'Sparks', 'Warwick', 'Passaic', 'Athens',
       'Florence', 'Newport News', 'Washington', 'Santa Ana',
       'Delray Beach', 'Park Ridge', 'Montgomery', 'Parker', 'Wilmington',
       'Hamilton', 'Superior', 'Decatur', 'Santa Clara', 'Lowell',
       'Santa Barbara', 'Minneapolis', 'Pasadena', 'Wichita', 'Anaheim',
       'Boca Raton', 'Longmont', 'Rochester', 'Frankfort', 'Salinas',
       'Carrollton', 'Oklahoma City', 'Buffalo', 'York', 'Providence',
       'Plano', 'Roseville', 'Highland Park', 'Paterson', 'Sandy Springs',
       'Lehi', 'Huntsville', 'Hialeah', 'San Jose', 'Orem', 'Broomfield',
       'Mesa', 'Tucson', 'Provo', 'Portland', 'Grand Prairie',
       'Perth Amboy', 'Bowling Green', 'Hattiesburg', 'Allentown',
       'Westland', 'Mcallen', 'Costa Mesa', 'Holland', 'Bethlehem',
       'Pensacola', 'Suffolk', 'Peoria', 'Sacramento', 'Edmonds',
       'Hendersonville', 'Des Moines', 'Lakeland', 'West Allis', 'Kenner',
       'Akron', 'Davis', 'Edinburg', 'Greenville', 'Fort Collins',
       'Pharr', 'Sheboygan', 'Quincy', 'Hollywood', 'Englewood', 'Waco',
       'Huntington Beach', 'Madison', 'Waukesha', 'Knoxville',
       'Georgetown', 'Woodbury', 'Jonesboro', 'Cedar Rapids', 'Olathe',
       'Johnson City', 'Redondo Beach', 'Saint Paul', 'Thomasville',
       'Wheeling', 'Visalia', 'Stockton', 'Bristol', 'Arvada', 'Utica',
       'Twin Falls', 'Laguna Niguel', 'Bangor', 'Marlborough', 'Redmond',
       'New Rochelle', 'Woodland', 'Orange', 'Grand Rapids',
       'Pembroke Pines', 'Lawrence', 'Parma', 'Tigard', 'Covington',
       'Iowa City', 'Redlands', 'Mobile', 'La Porte', 'Lake Forest',
       'The Colony', 'Coral Gables', 'Pueblo', 'Spokane', 'Marysville',
       'Laredo', 'Appleton', 'Salt Lake City', 'Tempe', 'Trenton',
       'El Cajon', 'Manchester', 'Lebanon', 'Hampton', 'Boynton Beach',
       'Bridgeton', 'Lansing', 'Sterling Heights', 'San Luis Obispo',
       'Conroe', 'Urbandale', 'Chula Vista', 'Eugene', 'Cheyenne',
       'Warner Robins', 'Noblesville', 'Arlington Heights', 'Vancouver',
       'Carlsbad', 'Kent', 'Taylor', 'Niagara Falls', 'Indianapolis',
       'Edmond', 'Orlando', 'Montebello', 'Medford', 'Bellevue',
       'El Paso', 'Shelton', 'Lincoln Park', 'Overland Park',
       'East Orange', 'Palm Coast', 'Marietta', 'Hickory', 'Oxnard',
       'San Angelo', 'Marion', 'Morgan Hill', 'Murray', 'Hempstead',
       'Antioch', 'Richardson', 'Eau Claire', 'Fremont', 'Greenwood',
       'Watertown', 'Homestead', 'Torrance', 'Cuyahoga Falls',
       'Apple Valley', 'Goldsboro', 'Tamarac', 'Reading', 'Moreno Valley',
       'Nashua', 'Woodstock', 'Port Arthur', 'West Palm Beach',
       'Deer Park', 'Reno', 'Rancho Cucamonga', 'Tuscaloosa',
       'Ormond Beach', 'Keller', 'Great Falls', 'Hoover', 'Roswell',
       'Gilbert', 'Muskogee', 'Dearborn Heights', 'Southaven', 'Chester',
       'Cambridge', 'Rogers', 'Albuquerque', 'Manteca', 'Tyler',
       'Pompano Beach', 'Beaumont', 'Dearborn', 'Meriden', 'Des Plaines',
       'Oak Park', 'New Brunswick', 'Lubbock', 'Clarksville', 'Greeley',
       'Chandler', 'Kissimmee', 'Dublin', 'Sanford', 'Danville',
       'Coral Springs', 'Texarkana', 'Westminster', 'Mansfield',
       'Everett', 'Mount Vernon', 'Fargo', 'Las Vegas', 'Harrisonburg',
       'Laurel', 'Bellingham', 'Missouri City', 'Frisco', 'Pearland',
       'Skokie', 'Rochester Hills', 'Thousand Oaks', 'Saint Petersburg',
       'Maple Grove', 'Chapel Hill', 'Olympia', 'Commerce City',
       'Corpus Christi', 'Cranston', 'Pomona', 'Bolingbrook', 'Mesquite',
       'Citrus Heights', 'Farmington', 'San Mateo', 'Pico Rivera',
       'Waterloo', 'Sioux Falls', 'Elkhart', 'Kenosha', 'Loveland',
       'Cedar Hill', 'Moorhead', 'Bedford', 'Lake Charles', 'Brentwood',
       'New Bedford', 'Lakeville', 'Inglewood', 'La Mesa', 'Coppell',
       'Garland', 'Draper', 'Modesto', 'Independence', 'Naperville',
       'Woonsocket', 'Boise', 'Clovis', 'Grand Island', 'Melbourne',
       'Pine Bluff', 'Saint Cloud', 'Helena', 'Miramar', 'Brownsville',
       'Mentor', 'Lodi', 'Chico', 'Meridian', 'League City', 'Freeport',
       'Camarillo', 'Durham', 'Deltona', 'Lawton', 'Saint Louis',
       'Las Cruces', 'Springdale', 'Coachella', 'Sunnyvale', 'Pasco',
       'Aberdeen', 'Jupiter', 'Grove City', 'Elyria', 'Escondido',
       'Hillsboro', 'Hagerstown', 'Saginaw', 'College Station', 'Ontario',
       'Renton', 'Canton', 'Summerville', 'Garden City', 'Gladstone',
       'Charlottesville', 'Thornton', 'Whittier', 'North Charleston',
       'Palatine', 'Abilene', 'Port Orange', 'Danbury'], dtype=object)

In [19]:
columns=['Region','Category', 'Sub-Category','Payment Mode' ]

for column in columns:
    value_counts = df[column].value_counts()
    print(f'Unique values and counts corresponding to entries in {column} column: {value_counts}')
    unique_entries = df[column].unique()
    print(f'Unique values in {column} column: {unique_entries}')

Unique values and counts corresponding to entries in Region column: Region
West       1901
East       1688
Central    1381
South       931
Name: count, dtype: int64
Unique values in Region column: ['East' 'West' 'Central' 'South']
Unique values and counts corresponding to entries in Category column: Category
Office Supplies    3569
Furniture          1249
Technology         1083
Name: count, dtype: int64
Unique values in Category column: ['Furniture' 'Technology' 'Office Supplies']
Unique values and counts corresponding to entries in Sub-Category column: Sub-Category
Binders        915
Paper          825
Furnishings    573
Phones         519
Storage        498
Art            465
Accessories    461
Chairs         355
Appliances     279
Labels         211
Tables         190
Envelopes      133
Bookcases      131
Fasteners      124
Supplies       119
Machines        65
Copiers         38
Name: count, dtype: int64
Unique values in Sub-Category column: ['Bookcases' 'Phones' 'Storage' 'Accessories' 'Tables' 'Binders' 'Copiers'
 'Art' 'Furnishings' 'Paper' 'Envelopes' 'Chairs' 'Fasteners' 'Appliances'
 'Labels' 'Machines' 'Supplies']
Unique values and counts corresponding to entries in Payment Mode column: Payment Mode
COD       2453
Online    2164
Cards     1284
Name: count, dtype: int64
Unique values in Payment Mode column: ['Online' 'Cards' 'COD']

Now that we have checked for any possible error in all the categorical columns. Now, we will check the rest of the columns(Sales, Quantity). Both these columns cannot contain negative values. If they do, then they have to be removed. And, if the quantity is 0, then corresponding sales can't be a non-zero number.

In [20]:
(df['Sales']<0).sum()

0

In [21]:
(df['Quantity']<0).sum()

0

In [22]:
df['Sales'][df['Quantity']==0]

Series([], Name: Sales, dtype: float64)

There are no entries with Quantity=0, so we need not worry about an error while storing the data

Thus, the 'Sales' and 'Quantity' columns are clean.

The data is clean so far. We just need to replace null values in the 'Returns' column with 0.